html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition:all 0.4s ease;
}
:root{
  --first-color: #DCD7C9;
  --second-color: #A27B5C;
  
}
@font-face {
  font-family: 'FuenteLogo';
  src: local('FuenteLogo'), 
       local('FuenteLogo'), 
       url('../public/Fuente.ttf') format('truetype'); 
}
.Logo{
  font-family: 'FuenteLogo';
}
.fondo{
  background-color: var(--first-color);
}
.contenedor{
  background-color: var(--second-color);
}
.contenedor::-webkit-scrollbar {
  width: 16px;               
}
.contenedor::-webkit-scrollbar-track {
  background: var(--second-color);        
}
.contenedor::-webkit-scrollbar-thumb {
  background-color: var(--first-color);    
  border-radius: 20px;       
  border: 3px solid var(--second-color);  
}
.toChoose{
  cursor:pointer;
  
}
.toChoose:hover{
  transform: scale(0.98);
}
.Folder{
  background-repeat: no-repeat; 
	background-attachment: scroll;
	background-size: cover;
  width:45%;
}
.Salsa{
  background-image:linear-gradient(to bottom, rgba(17, 17, 17, 0.1), rgb(0, 0, 0)), url('../public/Salsa.jpg');
}
.Electro{
  background-image:linear-gradient(to bottom, rgba(17, 17, 17, 0.1), rgba(0, 0, 0, 0.9)), url('../public/Electro.jpg');
}
.Roman{
  background-image:linear-gradient(to bottom, rgba(17, 17, 17, 0.1), rgba(0, 0, 0, 0.9)), url('../public/Roman.jpg');
}
.Rock{
  background-image:linear-gradient(to bottom, rgba(17, 17, 17, 0.1), rgba(0, 0, 0, 0.9)), url('../public/Rock.jpg');
}
.RockEsp{
  background-image:linear-gradient(to bottom, rgba(17, 17, 17, 0.1), rgba(0, 0, 0, 0.9)), url('../public/RockEsp.jpg');
}
.Pop{
  background-image:linear-gradient(to bottom, rgba(17, 17, 17, 0.1), rgba(0, 0, 0, 0.9)), url('../public/Pop.jpg');
}
.Instrum{
  background-image:linear-gradient(to bottom, rgba(17, 17, 17, 0.1), rgba(0, 0, 0, 0.9)), url('../public/Instrumen.jpg');
}